body {
    margin:0;
    font-family:"Roboto", Arial, Helvetica, sans-serif;
}

button {
    cursor:pointer;
}

a {
    text-decoration: none;
    color:#E5E7EB
}

.intro {

    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    padding:16px;
    margin:0 auto;
}

/* HEADER */
.header-block {
    display:flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    
}

.links {
    display:flex;
    gap: 16px;
    justify-content: space-between;
}

.header-links {
    font-size:18px;
    color: #E5E7EB;
}

/* HEADER-CONTENTS */

.intro-contents {
    display:flex;
    gap:50px;
    justify-content: space-between;
    margin:100px 100px;
}

.heading-left-block {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:8px;
}

.tokyo-tower {
    display:flex;
    max-width: 100%;
    max-height: 100%;
}

.heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.heading-description {
    font-size: 18px;
    color: #E5E7EB
}

.sign-up {
    border-radius: 4px;
    background-color: #3882F6;
    border-width: 0px;
    padding:8px 24px;
    color: #F9FAF8;
    transition-duration: 0.4s;
}
.sign-up:hover
{
    background-color: #306ccc;    
}

/* INFO */

.info {
    padding:16px;

}

.info-block {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.info-heading {
    margin-top: 36px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

/* INFO ROW */

.info-row {
    display:flex;
    margin:30px 200px;
    gap:50px;
    margin-bottom:100px;
}

.info-card {
    display:flex;
    flex-direction: column;
}

.info-img {
    display:flex;
    width: 100vh;
    max-width: 100%;
    border: 3px solid #3882F6;
    border-radius: 4px;
}

.description {
    color: #96999e;
    text-align: center;
}

/* QUOTE */
.quote-section {
    display:flex;
    flex-direction: column;
    padding:150px 100px;
    background-color: #E5E7EB;
}

.quote-block {
    display:flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    text-align: right;
    font-weight: bold;
}

/* ADVERTISEMENT */
.advertisement-section {
    padding:100px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.advertisement-block {
    display:flex;
    padding:50px 100px;
    background-color: #3882F6;
    justify-content: space-between;
    gap:100px;
    align-items: center;
    border-radius: 8px;
}

.advertisement-heading {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.signup-message {
    color: #E5E7EB
}

.advertisement-signup-button {
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    padding:10px 30px;
    color:#E5E7EB;
    font-weight: bold;
    border-radius: 4px;
}

/* FOOTER */

.footer {
    display:flex;
    padding:25px;
    background-color:#1F2937;
    align-items: center;
    justify-content: center;
}

.footer-message {
    color:#E5E7EB;
}